Repository paulscherrerinstitute/databuffer-web-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier, eslint

chore: update to lit package
  package-lock.json
  package.json
Due: none

chore: update imports
  src/daq-pill-list.ts
  src/daq-pill.ts
Due: prettier, eslint

build(tsc): change target version for build
  tsconfig.json
Due: none

chore(release): 1.0.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

build(deps): update browser-sync
  package-lock.json
  package.json
Due: none

build(deps): update dependencies
  package-lock.json
Due: none

Path conditions:
  prettier: any of: *.{ts,html,md}
  eslint: any of: *.ts
